@import "_burger";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #121214;
}

nav {
  list-style: none;
}

ul{
  margin: 2rem;
  li+li{
    margin-top: 0.5rem;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 768px) {
    font-size: 87.5%;
  }
}

h1,
h2{
  font-family: "Oswald", serif;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.2s;

  &:hover {
    filter: brightness(0.95);
  }
}

p,
span,
a {
  font-family: "Quattrocento", serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 6rem;
  width: 100vw;
  background: #fff;
  transition: 0.2s;

  &.shadow {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
  }

  .wrapper {
    max-width: 1440px;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      max-width: 20%;
    }

    > nav {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 70%;

      a {
        padding: 0.5rem 0.25rem;
      }
      a.active,
      a:hover {
        border-bottom: 1px solid #000;
      }
    }
  }
}

main {
  width: 100%;
  margin-top: 6rem;
  padding: 2rem;
  .hero {
    // width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      text-transform: uppercase;
      line-height: 120%;
    }

    img {
      max-width: 33.25%;
      height: 100%;
      max-height: 80vh;
      object-fit: cover;
    }

    .content {
      max-width: 32%;
      text-align: center;
    }

    a {
      background: #2e2e2e;
      display: block;
      padding: 1rem 2rem;
      text-align: center;
      text-transform: uppercase;
      width: 280px;
      color: #fff;
      margin: 5rem auto 0;
      border-radius: 1.5rem;
    }
  }

  .por-que-psicoterapia {
    width: 100%;
    margin: 1rem auto 3rem;
    max-width: 992px;
    padding: 4rem;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.1rem;
      line-height: 155%;
    }

    a {
      display: block;
      padding: 1rem 2rem;
      text-align: center;
      width: 280px;
      background: #0095cb;
      color: #fff;
      margin: 0 auto;
      border-radius: 1.5rem;
      text-transform: uppercase;
    }
  }

  .social-media {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    nav{
      display: flex;
      gap: 2rem;
  
      img{
        width: 3rem;
        height: 3rem; 
      }
    }
  }
  
  .psicanalise,
  .como-funciona,
  .sobre-mim,
  .contato,
  .security,
  .downloads,
  .quando-procurar {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    gap: 3rem;

    p{
      line-height: 150%;
    }

    h2{
      // margin: 0 1.5rem 3rem;
      line-height: 100%;
      margin-bottom: 2rem;
    }

    .image{
      width: 100%;
      img{
        width: 550px;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }

  .sobre-mim {
    max-width: 1080px;
    margin-top: 6rem;

    .image {
      width: auto;
      img {
        width: 400px;
      }
    }
  }

  .contato, .downloads{
    flex-direction: column;
    gap: 1rem;
    margin-top: 7rem;

    h2{
      font-size: 3rem;
    }

    p{
      font-weight: 600;
    }
  }

  .downloads{
    .livros{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-evenly;

      a:hover{
        filter: brightness(.9);
      }

      h3{
        text-align: center;
        margin: .25rem 0 1.5rem;
      }

      img{
        width: 230px;
        height: 400px;
        object-fit: cover;
      }
    }
  }

  .como-funciona{
    margin-top: 7rem;
  }

  .quando-procurar{
    margin-top: 7rem;

    .image img {
      object-fit: cover;
    }

    ul{
      letter-spacing: 1px;
      font-family: 'Quattrocento', serif;
      font-weight: bold;
    }
  }

  .atendimento {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .content {
      max-width: 700px;
      text-align: center;

      p {
        margin-top: 2rem;
        font-size: 1.15rem;
        line-height: 155%;
      }
      span {
        font-weight: bold;
      }
    }
    .image {
      img {
        max-width: 450px;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .wrapper {
      img {
        max-width: 100%;
        max-height: 6rem;
      }
      nav {
        display: none;
      }
    }
  }
  main {
      .psicanalise,
      .como-funciona,
      .sobre-mim, 
      .contato,
      .security,
      .quando-procurar {
        flex-direction: column;

        .image img{
          width: 100%;
        }
      }

      .quando-procurar, .security{
        .content {
          order: 2;
        }
        .image{
          order: 1;
        }
      }
    .hero {
      flex-wrap: wrap;
      padding: 2rem 10%;
      .content {
        max-width: 100%;
      }

      img {
        max-width: 49.5%;
        width: 49.5%;
      }

      .content {
        order: 1;
        margin-top: 2rem;
      }
      img {
        order: 2;
        margin-top: 4rem;
      }
      .content + img {
        order: 3;
        border: 1px solid #ccc;
      }
    }
  }
}

@media (max-width: 768px) {
}
